@model IEnumerable<ABC.EFCore.Repository.Edmx.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<meta charset="utf-8">
<link rel="icon" href="https://a-cloud.b-cdn.net/images/cropped-favicon-192x192.png" sizes="16x16">
<title>malik</title>
<meta name="description" content="sdjksj">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="https://alihassan.brizy.site/">
<meta content="summary_large_image" name="twitter:card"><!-- ASSETS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link class="brz-link brz-link-google-prefetch" rel="dns-prefetch" href="//ajax.googleapis.com">
<link class="brz-link brz-link-google-prefetch" rel="dns-prefetch" href="//fonts.googleapis.com">
<link class="brz-link brz-link-google-preconnect" rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link class="brz-link brz-link-cdn-preconnect" rel="preconnect" href="https://brizy.b-cdn.net/" crossorigin="">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic|Red Hat Text:regular,italic,500,500italic,700,700italic|Overpass:100,100italic,200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic&amp;subset=arabic,bengali,cyrillic,cyrillic-ext,devanagari,greek,greek-ext,gujarati,hebrew,khmer,korean,latin-ext,tamil,telugu,thai,vietnamese&amp;display=swap" class="brz-link brz-link-google" type="text/css" rel="stylesheet">
<link href="https://b-cloud.b-cdn.net/builds/free/213-cloud/editor/css/group-3.css" class="brz-link brz-link-preview-lib" data-group="group-3" rel="stylesheet">
<link href="https://b-cloud.b-cdn.net/builds/free/213-cloud/editor/css/preview.css" class="brz-link brz-link-preview" rel="stylesheet">
<style class="brz-style"></style>

<!--PaginationLink-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
<link rel="stylesheet" href="css/animate.css">
<style class="brz-style">

    .brz .brz-css-knpig {
        z-index: auto;
        margin: 0;
    }

        .brz .brz-css-knpig.brz-section .brz-section__content {
            min-height: auto;
            display: flex;
        }

        .brz .brz-css-knpig .brz-container {
            justify-content: center;
        }

        .brz .brz-css-knpig > .slick-slider > .brz-slick-slider__dots {
            color: rgba(0, 0, 0, 1);
        }

        .brz .brz-css-knpig > .slick-slider > .brz-slick-slider__arrow {
            color: rgba(0, 0, 0, 0.7);
        }

    @@media(min-width:991px) {
        .brz .brz-css-knpig {
            display: block;
        }
    }

    @@media(min-width:991px) {
        .brz .brz-css-knpig > .slick-slider > .brz-slick-slider__arrow:hover {
            color: rgba(0, 0, 0, 1);
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-knpig {
            z-index: auto;
            margin: 0;
        }

            .brz .brz-css-knpig.brz-section .brz-section__content {
                min-height: auto;
                display: flex;
            }

            .brz .brz-css-knpig .brz-container {
                justify-content: center;
            }

            .brz .brz-css-knpig > .slick-slider > .brz-slick-slider__dots {
                color: rgba(0, 0, 0, 1);
            }

            .brz .brz-css-knpig > .slick-slider > .brz-slick-slider__arrow {
                color: rgba(0, 0, 0, 0.7);
            }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-knpig {
            display: block;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-knpig {
            z-index: auto;
            margin: 0;
        }

            .brz .brz-css-knpig.brz-section .brz-section__content {
                min-height: auto;
                display: flex;
            }

            .brz .brz-css-knpig .brz-container {
                justify-content: center;
            }

            .brz .brz-css-knpig > .slick-slider > .brz-slick-slider__dots {
                color: rgba(0, 0, 0, 1);
            }

            .brz .brz-css-knpig > .slick-slider > .brz-slick-slider__arrow {
                color: rgba(0, 0, 0, 0.7);
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-knpig {
            display: block;
        }
    }

    .brz .brz-css-tqlbw {
        padding: 75px 0px 75px 0px;
    }

        .brz .brz-css-tqlbw > .brz-bg {
            border: 0px solid rgba(102, 115, 141, 0);
            border-radius: 0;
        }

            .brz .brz-css-tqlbw > .brz-bg > .brz-bg-image {
                background-image: none;
                display: block;
            }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-image:after {
                    content: "";
                    background-image: none;
                }

            .brz .brz-css-tqlbw > .brz-bg > .brz-bg-color {
                background-color: rgba(0, 0, 0, 0);
                background-image: none;
            }

            .brz .brz-css-tqlbw > .brz-bg > .brz-bg-map {
                display: none;
            }

            .brz .brz-css-tqlbw > .brz-bg > .brz-bg-video {
                display: none;
            }

            .brz .brz-css-tqlbw > .brz-bg > .brz-bg-shape__top {
                background-image: none;
                background-size: 100% 100px;
                height: 100px;
                transform: rotateX(0deg) rotateY(0deg);
                z-index: auto;
            }

            .brz .brz-css-tqlbw > .brz-bg > .brz-bg-shape__bottom {
                background-image: none;
                background-size: 100% 100px;
                height: 100px;
                transform: rotateX(-180deg) rotateY(-180deg);
                z-index: auto;
            }

    @@media(min-width:991px) {
        .brz .brz-css-tqlbw > .brz-bg > .brz-bg-image {
            background-attachment: scroll;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-tqlbw {
            padding: 50px 15px 50px 15px;
        }

            .brz .brz-css-tqlbw > .brz-bg {
                border: 0px solid rgba(102, 115, 141, 0);
                border-radius: 0;
            }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-image {
                    background-image: none;
                    display: block;
                }

                    .brz .brz-css-tqlbw > .brz-bg > .brz-bg-image:after {
                        content: "";
                        background-image: none;
                    }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-color {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: none;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-map {
                    display: none;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-video {
                    display: none;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-shape__top {
                    background-image: none;
                    background-size: 100% 100px;
                    height: 100px;
                    transform: rotateX(0deg) rotateY(0deg);
                    z-index: auto;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-shape__bottom {
                    background-image: none;
                    background-size: 100% 100px;
                    height: 100px;
                    transform: rotateX(-180deg) rotateY(-180deg);
                    z-index: auto;
                }
    }

    @@media(max-width:767px) {
        .brz .brz-css-tqlbw {
            padding: 25px 15px 25px 15px;
        }

            .brz .brz-css-tqlbw > .brz-bg {
                border: 0px solid rgba(102, 115, 141, 0);
                border-radius: 0;
            }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-image {
                    background-image: none;
                    display: block;
                }

                    .brz .brz-css-tqlbw > .brz-bg > .brz-bg-image:after {
                        content: "";
                        background-image: none;
                    }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-color {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: none;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-map {
                    display: none;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-video {
                    display: none;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-shape__top {
                    background-image: none;
                    background-size: 100% 100px;
                    height: 100px;
                    transform: rotateX(0deg) rotateY(0deg);
                    z-index: auto;
                }

                .brz .brz-css-tqlbw > .brz-bg > .brz-bg-shape__bottom {
                    background-image: none;
                    background-size: 100% 100px;
                    height: 100px;
                    transform: rotateX(-180deg) rotateY(-180deg);
                    z-index: auto;
                }
    }

    .brz .brz-css-qajun {
        border: 0px solid transparent;
    }

    @@media(min-width:991px) {
        .brz .brz-css-qajun {
            max-width: calc(1 * var(--brz-section-container-max-width, 1170px));
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-qajun {
            border: 0px solid transparent;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-qajun {
            max-width: 100%
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-qajun {
            border: 0px solid transparent;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-qajun {
            max-width: 100%
        }
    }

    .brz .brz-css-arhop {
        margin: 0;
        z-index: auto;
        align-items: flex-start;
    }

        .brz .brz-css-arhop > .brz-bg {
            border: 0px solid rgba(102, 115, 141, 0);
            border-radius: 0;
            max-width: 100%;
        }

            .brz .brz-css-arhop > .brz-bg > .brz-bg-image {
                background-image: none;
                display: block;
            }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-image:after {
                    content: "";
                    background-image: none;
                }

            .brz .brz-css-arhop > .brz-bg > .brz-bg-color {
                background-color: rgba(0, 0, 0, 0);
                background-image: none;
            }

            .brz .brz-css-arhop > .brz-bg > .brz-bg-map {
                display: none;
            }

            .brz .brz-css-arhop > .brz-bg > .brz-bg-video {
                display: none;
            }

        .brz .brz-css-arhop > .brz-row {
            border: 0px solid transparent;
        }

    @@media(min-width:991px) {
        .brz .brz-css-arhop {
            min-height: auto;
            display: flex;
        }

            .brz .brz-css-arhop > .brz-bg {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-image {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-color {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-video {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

            .brz .brz-css-arhop > .brz-row {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-arhop {
            margin: 0;
            z-index: auto;
            align-items: flex-start;
        }

            .brz .brz-css-arhop > .brz-bg {
                border: 0px solid rgba(102, 115, 141, 0);
                border-radius: 0;
                max-width: 100%;
            }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-image {
                    background-image: none;
                    display: block;
                }

                    .brz .brz-css-arhop > .brz-bg > .brz-bg-image:after {
                        content: "";
                        background-image: none;
                    }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-color {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: none;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-map {
                    display: none;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-video {
                    display: none;
                }

            .brz .brz-css-arhop > .brz-row {
                border: 0px solid transparent;
            }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-arhop {
            min-height: auto;
            display: flex;
        }

            .brz .brz-css-arhop > .brz-bg {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-image {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-color {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-video {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

            .brz .brz-css-arhop > .brz-row {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-arhop {
            margin: 0;
            z-index: auto;
            align-items: flex-start;
        }

            .brz .brz-css-arhop > .brz-bg {
                border: 0px solid rgba(102, 115, 141, 0);
                border-radius: 0;
                max-width: 100%;
            }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-image {
                    background-image: none;
                    display: block;
                }

                    .brz .brz-css-arhop > .brz-bg > .brz-bg-image:after {
                        content: "";
                        background-image: none;
                    }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-color {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: none;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-map {
                    display: none;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-video {
                    display: none;
                }

            .brz .brz-css-arhop > .brz-row {
                border: 0px solid transparent;
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-arhop {
            min-height: auto;
            display: flex;
        }

            .brz .brz-css-arhop > .brz-bg {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-image {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-color {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

                .brz .brz-css-arhop > .brz-bg > .brz-bg-video {
                    transition-duration: 0.50s;
                    transition-property: filter, box-shadow, background, border-radius, border-color;
                }

            .brz .brz-css-arhop > .brz-row {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }
    }

    .brz .brz-css-kiray {
        padding: 10px;
        max-width: 100%;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-kiray {
            padding: 0;
            max-width: 100%;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-kiray {
            padding: 0;
            max-width: 100%;
        }
    }

    .brz .brz-css-rpoqf {
        z-index: auto;
        flex: 1 1 50%;
        max-width: 50%;
        justify-content: flex-start;
    }

        .brz .brz-css-rpoqf > .brz-bg {
            border: 0px solid rgba(102, 115, 141, 0);
            border-radius: 0;
            margin: 0;
        }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image {
                background-image: none;
            }

                .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image:after {
                    content: "";
                    background-image: none;
                }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-color {
                background-color: rgba(0, 0, 0, 0);
                background-image: none;
            }

    @@media(min-width:991px) {
        .brz .brz-css-rpoqf > .brz-bg {
            transition-duration: 0.50s;
            transition-property: filter, box-shadow, background, border-radius, border-color;
        }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-color {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-rpoqf {
            z-index: auto;
            flex: 1 1 50%;
            max-width: 50%;
            justify-content: flex-start;
        }

            .brz .brz-css-rpoqf > .brz-bg {
                border: 0px solid rgba(102, 115, 141, 0);
                border-radius: 0;
                margin: 0;
            }

                .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image {
                    background-image: none;
                }

                    .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image:after {
                        content: "";
                        background-image: none;
                    }

                .brz .brz-css-rpoqf > .brz-bg > .brz-bg-color {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: none;
                }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-rpoqf > .brz-bg {
            transition-duration: 0.50s;
            transition-property: filter, box-shadow, background, border-radius, border-color;
        }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-color {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-rpoqf {
            z-index: auto;
            flex: 1 1 100%;
            max-width: 100%;
            justify-content: flex-start;
        }

            .brz .brz-css-rpoqf > .brz-bg {
                border: 0px solid rgba(102, 115, 141, 0);
                border-radius: 0;
                margin: 10px 0px 10px 0px;
            }

                .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image {
                    background-image: none;
                }

                    .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image:after {
                        content: "";
                        background-image: none;
                    }

                .brz .brz-css-rpoqf > .brz-bg > .brz-bg-color {
                    background-color: rgba(0, 0, 0, 0);
                    background-image: none;
                }
    }

    @@media(max-width:767px) {
        .brz .brz-css-rpoqf > .brz-bg {
            transition-duration: 0.50s;
            transition-property: filter, box-shadow, background, border-radius, border-color;
        }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-image {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }

            .brz .brz-css-rpoqf > .brz-bg > .brz-bg-color {
                transition-duration: 0.50s;
                transition-property: filter, box-shadow, background, border-radius, border-color;
            }
    }

    .brz .brz-css-inaks {
        z-index: auto;
        margin: 0;
        border: 0px solid transparent;
        padding: 5px 15px 5px 15px;
    }

    @@media(min-width:991px) {
        .brz .brz-css-inaks {
            display: flex;
            transition-duration: 0.50s;
            transition-property: filter, box-shadow, background, border-radius, border-color;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-inaks {
            z-index: auto;
            margin: 0;
            border: 0px solid transparent;
            padding: 5px 15px 5px 15px;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-inaks {
            display: flex;
            transition-duration: 0.50s;
            transition-property: filter, box-shadow, background, border-radius, border-color;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-inaks {
            z-index: auto;
            margin: 10px 0px 10px 0px;
            border: 0px solid transparent;
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-inaks {
            display: flex;
            transition-duration: 0.50s;
            transition-property: filter, box-shadow, background, border-radius, border-color;
        }
    }

    .brz .brz-css-dqfym {
        padding: 0;
        margin: 10px 0px 10px 0px;
        justify-content: center;
        position: relative;
    }

    @@media(min-width:991px) {
        .brz .brz-css-dqfym {
            display: flex;
            z-index: auto;
            position: relative;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-dqfym {
            padding: 0;
            margin: 10px 0px 10px 0px;
            justify-content: center;
            position: relative;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-dqfym {
            display: flex;
            z-index: auto;
            position: relative;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-dqfym {
            padding: 0;
            margin: 10px 0px 10px 0px;
            justify-content: center;
            position: relative;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-dqfym {
            display: flex;
            z-index: auto;
            position: relative;
        }
    }

    .brz .brz-css-nvoty {
        max-width: 100%;
        height: auto;
        border: 0px solid rgba(102, 115, 141, 0);
        border-radius: 0;
    }

    @@media(min-width:991px) {
        .brz .brz-css-nvoty {
            transition-duration: 0.50s;
            transition-property: border, box-shadow, filter;
        }

            .brz .brz-css-nvoty:after {
                transition-duration: 0.50s;
                transition-property: border, box-shadow, filter;
            }

            .brz .brz-css-nvoty .brz-picture {
                transition-duration: 0.50s;
                transition-property: border, box-shadow, filter;
            }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-nvoty {
            max-width: 100%;
            height: auto;
            border: 0px solid rgba(102, 115, 141, 0);
            border-radius: 0;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-nvoty {
            transition-duration: 0.50s;
            transition-property: border, box-shadow, filter;
        }

            .brz .brz-css-nvoty:after {
                transition-duration: 0.50s;
                transition-property: border, box-shadow, filter;
            }

            .brz .brz-css-nvoty .brz-picture {
                transition-duration: 0.50s;
                transition-property: border, box-shadow, filter;
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-nvoty {
            max-width: 100%;
            height: auto;
            border: 0px solid rgba(102, 115, 141, 0);
            border-radius: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-nvoty {
            transition-duration: 0.50s;
            transition-property: border, box-shadow, filter;
        }

            .brz .brz-css-nvoty:after {
                transition-duration: 0.50s;
                transition-property: border, box-shadow, filter;
            }

            .brz .brz-css-nvoty .brz-picture {
                transition-duration: 0.50s;
                transition-property: border, box-shadow, filter;
            }
    }

    .brz .brz-css-avlfa {
        padding-top: 111.0003%;
    }

        .brz .brz-css-avlfa > .brz-img {
            position: absolute;
            width: 100%;
        }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-avlfa {
            padding-top: 110.9994%;
        }

            .brz .brz-css-avlfa > .brz-img {
                position: absolute;
                width: 100%;
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-avlfa {
            padding-top: 111%;
        }

            .brz .brz-css-avlfa > .brz-img {
                position: absolute;
                width: 100%;
            }
    }

    .brz .brz-css-lpdex {
        animation-name: none;
        animation-duration: 1000ms;
        animation-delay: 1000ms;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-lpdex {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-lpdex {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    .brz .brz-css-fzjuj {
        z-index: auto;
        position: relative;
        margin: 10px 0px 10px 0px;
    }

    @@media(min-width:991px) {
        .brz .brz-css-fzjuj {
            display: flex;
            position: relative;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-fzjuj {
            z-index: auto;
            position: relative;
            margin: 10px 0px 10px 0px;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-fzjuj {
            display: flex;
            position: relative;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-fzjuj {
            z-index: auto;
            position: relative;
            margin: 10px 0px 10px 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-fzjuj {
            display: flex;
            position: relative;
        }
    }

    .brz .brz-css-aofej {
        justify-content: center;
        padding: 0;
        margin: 0px -5px -20px -5px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-aofej {
            justify-content: center;
            padding: 0;
            margin: 0px -5px -20px -5px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-aofej {
            justify-content: center;
            padding: 0;
            margin: 0px -5px -20px -5px;
        }
    }

    .brz .brz-css-rdtcv {
        padding: 0px 5px 20px 5px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-rdtcv {
            padding: 0px 5px 20px 5px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-rdtcv {
            padding: 0px 5px 20px 5px;
        }
    }

    .brz .brz-css-prvpv {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 0;
        stroke-width: 0;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-prvpv {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 0;
            stroke-width: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-prvpv {
            font-size: 16px;
            margin-left: 10px;
            margin-right: 0;
            stroke-width: 0;
        }
    }

    .brz .brz-css-cghik.brz-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Overpass, sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0px;
        color: rgba(221, 253, 12, 1);
        border: 2px solid rgba(5, 202, 182, 0);
        border-radius: 2px;
        background-color: rgba(5, 202, 182, 1);
        background-image: none;
        padding: 14px 42px 14px 42px;
        flex-flow: row-reverse nowrap;
    }

        .brz .brz-css-cghik.brz-btn.brz-btn-submit {
            color: rgba(221, 253, 12, 1);
            background-color: rgba(5, 202, 182, 1);
        }

    .brz .brz-css-cghik .brz-btn--story-container {
        border: 2px solid rgba(5, 202, 182, 0);
        flex-flow: row-reverse nowrap;
        border-radius: 2px;
    }

    @@media(min-width:991px) {
        .brz .brz-css-cghik.brz-btn {
            transition-duration: 0.50s;
            transition-property: color, box-shadow, background, border-color;
        }
    }

    @@media(min-width:991px) {
        .brz .brz-css-cghik.brz-btn:hover {
            background-color: rgba(5, 202, 182, 0.8);
        }

        .brz .brz-css-cghik.brz-btn.brz-btn-submit:hover {
            background-color: rgba(5, 202, 182, 0.8);
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-cghik.brz-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Overpass, sans-serif;
            font-weight: 700;
            font-size: 17px;
            line-height: 1.6;
            letter-spacing: 0px;
            color: rgba(221, 253, 12, 1);
            border: 2px solid rgba(5, 202, 182, 0);
            border-radius: 2px;
            background-color: rgba(5, 202, 182, 1);
            background-image: none;
            padding: 11px 26px 11px 26px;
            flex-flow: row-reverse nowrap;
        }

            .brz .brz-css-cghik.brz-btn.brz-btn-submit {
                color: rgba(221, 253, 12, 1);
                background-color: rgba(5, 202, 182, 1);
            }

        .brz .brz-css-cghik .brz-btn--story-container {
            border: 2px solid rgba(5, 202, 182, 0);
            flex-flow: row-reverse nowrap;
            border-radius: 2px;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-cghik.brz-btn {
            transition-duration: 0.50s;
            transition-property: color, box-shadow, background, border-color;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-cghik.brz-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Overpass, sans-serif;
            font-weight: 700;
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 0px;
            color: rgba(221, 253, 12, 1);
            border: 2px solid rgba(5, 202, 182, 0);
            border-radius: 2px;
            background-color: rgba(5, 202, 182, 1);
            background-image: none;
            padding: 11px 26px 11px 26px;
            flex-flow: row-reverse nowrap;
        }

            .brz .brz-css-cghik.brz-btn.brz-btn-submit {
                color: rgba(221, 253, 12, 1);
                background-color: rgba(5, 202, 182, 1);
            }

        .brz .brz-css-cghik .brz-btn--story-container {
            border: 2px solid rgba(5, 202, 182, 0);
            flex-flow: row-reverse nowrap;
            border-radius: 2px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-cghik.brz-btn {
            transition-duration: 0.50s;
            transition-property: color, box-shadow, background, border-color;
        }
    }

    .brz .brz-css-odfbz {
        width: 100%;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-odfbz {
            width: 100%;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-odfbz {
            width: 100%;
        }
    }

    .brz .brz-css-mmhre {
        animation-name: none;
        animation-duration: 1000ms;
        animation-delay: 1000ms;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-mmhre {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-mmhre {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    .brz .brz-css-zjyrs {
        padding: 0;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-zjyrs {
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-zjyrs {
            padding: 0;
        }
    }

    .brz .brz-css-khqgq {
        padding: 28px 0px 0px 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-khqgq {
            padding: 50px 15px 50px 15px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-khqgq {
            padding: 25px 15px 25px 15px;
        }
    }

    .brz .brz-css-dpary {
        flex: 1 1 51.2%;
        max-width: 51.2%;
    }

        .brz .brz-css-dpary > .brz-bg {
            margin: -33px;
        }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-dpary {
            flex: 1 1 51.2%;
            max-width: 51.2%;
        }

            .brz .brz-css-dpary > .brz-bg {
                margin: 0;
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-dpary {
            flex: 1 1 100%;
            max-width: 100%;
        }

            .brz .brz-css-dpary > .brz-bg {
                margin: 10px 0px 10px 0px;
            }
    }

    .brz .brz-css-wzzjr {
        margin: -33px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-wzzjr {
            margin: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-wzzjr {
            margin: 10px 0px 10px 0px;
        }
    }

    .brz .brz-css-jgvep {
        flex: 1 1 48.8%;
        max-width: 48.8%;
    }

        .brz .brz-css-jgvep > .brz-bg {
            margin: -18px;
        }

            .brz .brz-css-jgvep > .brz-bg > .brz-bg-color {
                background-color: rgba(5, 202, 182, 1);
            }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-jgvep {
            flex: 1 1 48.8%;
            max-width: 48.8%;
        }

            .brz .brz-css-jgvep > .brz-bg {
                margin: 0;
            }

                .brz .brz-css-jgvep > .brz-bg > .brz-bg-color {
                    background-color: rgba(5, 202, 182, 1);
                }
    }

    @@media(max-width:767px) {
        .brz .brz-css-jgvep {
            flex: 1 1 100%;
            max-width: 100%;
        }

            .brz .brz-css-jgvep > .brz-bg {
                margin: 10px 0px 10px 0px;
            }

                .brz .brz-css-jgvep > .brz-bg > .brz-bg-color {
                    background-color: rgba(5, 202, 182, 1);
                }
    }

    .brz .brz-css-qkqxi {
        margin: -18px;
        padding: 15px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-qkqxi {
            margin: 0;
            padding: 5px 15px 5px 15px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-qkqxi {
            margin: 10px 0px 10px 0px;
            padding: 0;
        }
    }

    .brz .brz-css-ucvlb {
        margin: 5px;
    }

        .brz .brz-css-ucvlb > .brz-bg {
            border: 4px solid rgba(5, 202, 182, 1);
        }

            .brz .brz-css-ucvlb > .brz-bg > .brz-bg-color {
                background-color: rgba(5, 202, 182, 1);
            }

        .brz .brz-css-ucvlb > .brz-row {
            border: 4px solid transparent;
        }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-ucvlb {
            margin: 0;
        }

            .brz .brz-css-ucvlb > .brz-bg {
                border: 0px solid rgba(5, 202, 182, 1);
            }

                .brz .brz-css-ucvlb > .brz-bg > .brz-bg-color {
                    background-color: rgba(20, 96, 89, 1);
                }

            .brz .brz-css-ucvlb > .brz-row {
                border: 0px solid transparent;
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-ucvlb {
            margin: 0;
        }

            .brz .brz-css-ucvlb > .brz-bg {
                border: 4px solid rgba(5, 202, 182, 1);
            }

                .brz .brz-css-ucvlb > .brz-bg > .brz-bg-color {
                    background-color: rgba(5, 202, 182, 1);
                }

            .brz .brz-css-ucvlb > .brz-row {
                border: 4px solid transparent;
            }
    }

    .brz .brz-css-hooon {
        padding: 1px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-hooon {
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-hooon {
            padding: 0;
        }
    }

    .brz .brz-css-bywbk {
        flex: 1 1 100%;
        max-width: 100%;
    }

        .brz .brz-css-bywbk > .brz-bg > .brz-bg-color {
            background-color: rgba(0, 0, 0, 0);
        }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-bywbk {
            flex: 1 1 100%;
            max-width: 100%;
        }

            .brz .brz-css-bywbk > .brz-bg > .brz-bg-color {
                background-color: rgba(5, 202, 182, 1);
            }
    }

    @@media(max-width:767px) {
        .brz .brz-css-bywbk {
            flex: 1 1 100%;
            max-width: 100%;
        }

            .brz .brz-css-bywbk > .brz-bg > .brz-bg-color {
                background-color: rgba(0, 0, 0, 0);
            }
    }

    .brz .brz-css-pzqnq {
        animation-name: pulse;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-pzqnq {
            animation-name: pulse;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-pzqnq {
            animation-name: pulse;
        }
    }

    .brz .brz-css-xzmnp {
        margin: 8px 0px 10px 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-xzmnp {
            margin: 10px 0px 10px 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-xzmnp {
            margin: 10px 0px 10px 0px;
        }
    }

    .brz .brz-css-hnwyz {
        padding: 8px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-hnwyz {
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-hnwyz {
            padding: 0;
        }
    }

    .brz .brz-css-opmjn.brz-btn {
        color: rgba(235, 235, 235, 1);
        border: 2px solid rgba(223, 13, 13, 1);
        border-radius: 6px;
        background-color: rgba(223, 13, 13, 1);
        padding: 0px 5px 0px 5px;
    }

        .brz .brz-css-opmjn.brz-btn.brz-btn-submit {
            color: rgba(235, 235, 235, 1);
            background-color: rgba(223, 13, 13, 1);
        }

    .brz .brz-css-opmjn .brz-btn--story-container {
        border: 2px solid rgba(223, 13, 13, 1);
        border-radius: 6px;
    }

    @@media(min-width:991px) {
        .brz .brz-css-opmjn.brz-btn {
            transition-duration: 0.56s;
        }
    }

    @@media(min-width:991px) {
        .brz .brz-css-opmjn.brz-btn:hover {
            color: rgba(221, 253, 12, 1);
            border: 2px solid rgba(5, 202, 182, 0.8);
        }

        .brz .brz-css-opmjn.brz-btn.brz-btn-submit:hover {
            color: rgba(221, 253, 12, 1);
        }

        .brz .brz-css-opmjn:hover .brz-btn--story-container {
            border: 2px solid rgba(5, 202, 182, 0.8);
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-opmjn.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(223, 13, 13, 1);
            border-radius: 6px;
            background-color: rgba(223, 13, 13, 1);
            padding: 11px 26px 11px 26px;
        }

            .brz .brz-css-opmjn.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(223, 13, 13, 1);
            }

        .brz .brz-css-opmjn .brz-btn--story-container {
            border: 2px solid rgba(223, 13, 13, 1);
            border-radius: 6px;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-opmjn.brz-btn {
            transition-duration: 0.56s;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-opmjn.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(223, 13, 13, 1);
            border-radius: 6px;
            background-color: rgba(223, 13, 13, 1);
            padding: 11px 26px 11px 26px;
        }

            .brz .brz-css-opmjn.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(223, 13, 13, 1);
            }

        .brz .brz-css-opmjn .brz-btn--story-container {
            border: 2px solid rgba(223, 13, 13, 1);
            border-radius: 6px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-opmjn.brz-btn {
            transition-duration: 0.56s;
        }
    }

    .brz .brz-css-pxref {
        margin: -11px 96px -6% 80px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-pxref {
            margin: 10px 0px 10px 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-pxref {
            margin: 10px 0px 10px 0px;
        }
    }

    .brz .brz-css-teghb {
        color: rgba(235, 235, 235, 1);
        margin-top: 0px !important;
        margin-bottom: 54px !important;
        text-align: center;
        font-family: Red Hat Text, sans-serif !important;
        font-size: 16px;
        line-height: 1.9;
        font-weight: 400;
        letter-spacing: 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-teghb {
            color: rgba(235, 235, 235, 1);
            margin-top: 0px !important;
            margin-bottom: 54px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-teghb {
            color: rgba(235, 235, 235, 1);
            margin-top: 0px !important;
            margin-bottom: 54px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    .brz .brz-css-ugrxs {
        padding: 12px 0px 0px 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-ugrxs {
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-ugrxs {
            padding: 0;
        }
    }

    .brz .brz-css-kygry {
        animation-name: flash;
        animation-duration: 2100ms;
        animation-delay: 0ms;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-kygry {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-kygry {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    .brz .brz-css-xrhhu {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        text-align: center;
        font-family: Red Hat Text, sans-serif !important;
        font-size: 33px;
        line-height: 1.3;
        font-weight: 400;
        letter-spacing: 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-xrhhu {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 33px;
            line-height: 1.3;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-xrhhu {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 33px;
            line-height: 1.3;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    /*.brz .brz-css-jlfjq {
                            padding: 12px 0px 0px 0px;
                        }*/

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-jlfjq {
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-jlfjq {
            padding: 0;
        }
    }

    .brz .brz-css-cqrkn {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        text-align: center;
        font-family: Red Hat Text, sans-serif !important;
        font-size: 16px;
        line-height: 1.9;
        font-weight: 400;
        letter-spacing: 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-cqrkn {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-cqrkn {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    .brz .brz-css-vcery {
        padding: 12px 0px 0px 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-vcery {
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-vcery {
            padding: 0;
        }
    }

    .brz .brz-css-weofs {
        animation-name: pulse;
        animation-duration: 700ms;
        animation-delay: 500ms;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-weofs {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-weofs {
            animation-name: none;
            animation-duration: 1000ms;
            animation-delay: 1000ms;
        }
    }

    .brz .brz-css-elowy {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        text-align: center;
        font-family: Red Hat Text, sans-serif !important;
        font-size: 26px;
        line-height: 1.9;
        font-weight: 400;
        letter-spacing: 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-elowy {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 26px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-elowy {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 26px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    .brz .brz-css-xpdom {
        padding: 12px 0px 0px 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-xpdom {
            padding: 0;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-xpdom {
            padding: 0;
        }
    }

    .brz .brz-css-mhiwh {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        text-align: center;
        font-family: Red Hat Text, sans-serif !important;
        font-size: 16px;
        line-height: 1.9;
        font-weight: 400;
        letter-spacing: 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-mhiwh {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-mhiwh {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: center;
            font-family: Red Hat Text, sans-serif !important;
            font-size: 16px;
            line-height: 1.9;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }

    .brz .brz-css-sfrwu {
        margin: 10px 0px 10px 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-sfrwu {
            margin: 10px 0px 10px 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-sfrwu {
            margin: 30px 0px 10px 0px;
        }
    }

    .brz .brz-css-bxflu {
        margin: 0px -5px -20px -5px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-bxflu {
            margin: 0px -5px -20px -5px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-bxflu {
            margin: 0px -11.5px -20px -11.5px;
        }
    }

    .brz .brz-css-igdof {
        padding: 0px 5px 20px 5px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-igdof {
            padding: 0px 5px 20px 5px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-igdof {
            padding: 0px 11.5px 20px 11.5px;
        }
    }

    .brz .brz-css-aamdo.brz-btn {
        color: rgba(235, 235, 235, 1);
        border: 2px solid rgba(69, 76, 75, 1);
        border-radius: 8px;
        background-color: rgba(69, 76, 75, 1);
    }

        .brz .brz-css-aamdo.brz-btn.brz-btn-submit {
            color: rgba(235, 235, 235, 1);
            background-color: rgba(69, 76, 75, 1);
        }

    .brz .brz-css-aamdo .brz-btn--story-container {
        border: 2px solid rgba(69, 76, 75, 1);
        border-radius: 8px;
    }

    @@media(min-width:991px) {
        .brz .brz-css-aamdo.brz-btn:hover {
            color: rgba(221, 253, 12, 1);
            border: 2px solid rgba(5, 202, 182, 0.8);
        }

        .brz .brz-css-aamdo.brz-btn.brz-btn-submit:hover {
            color: rgba(221, 253, 12, 1);
        }

        .brz .brz-css-aamdo:hover .brz-btn--story-container {
            border: 2px solid rgba(5, 202, 182, 0.8);
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-aamdo.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
            background-color: rgba(69, 76, 75, 1);
        }

            .brz .brz-css-aamdo.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(69, 76, 75, 1);
            }

        .brz .brz-css-aamdo .brz-btn--story-container {
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-aamdo.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
            background-color: rgba(69, 76, 75, 1);
        }

            .brz .brz-css-aamdo.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(69, 76, 75, 1);
            }

        .brz .brz-css-aamdo .brz-btn--story-container {
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
        }
    }

    .brz .brz-css-mcxba.brz-btn {
        color: rgba(235, 235, 235, 1);
        border: 2px solid rgba(69, 76, 75, 1);
        border-radius: 8px;
        background-color: rgba(69, 76, 75, 1);
    }

        .brz .brz-css-mcxba.brz-btn.brz-btn-submit {
            color: rgba(235, 235, 235, 1);
            background-color: rgba(69, 76, 75, 1);
        }

    .brz .brz-css-mcxba .brz-btn--story-container {
        border: 2px solid rgba(69, 76, 75, 1);
        border-radius: 8px;
    }

    @@media(min-width:991px) {
        .brz .brz-css-mcxba.brz-btn:hover {
            color: rgba(221, 253, 12, 1);
            border: 2px solid rgba(5, 202, 182, 0.8);
        }

        .brz .brz-css-mcxba.brz-btn.brz-btn-submit:hover {
            color: rgba(221, 253, 12, 1);
        }

        .brz .brz-css-mcxba:hover .brz-btn--story-container {
            border: 2px solid rgba(5, 202, 182, 0.8);
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-mcxba.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
            background-color: rgba(69, 76, 75, 1);
        }

            .brz .brz-css-mcxba.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(69, 76, 75, 1);
            }

        .brz .brz-css-mcxba .brz-btn--story-container {
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-mcxba.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
            background-color: rgba(69, 76, 75, 1);
        }

            .brz .brz-css-mcxba.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(69, 76, 75, 1);
            }

        .brz .brz-css-mcxba .brz-btn--story-container {
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
        }
    }

    .brz .brz-css-edaqo.brz-btn {
        color: rgba(235, 235, 235, 1);
        border: 2px solid rgba(69, 76, 75, 1);
        border-radius: 8px;
        background-color: rgba(69, 76, 75, 1);
    }

        .brz .brz-css-edaqo.brz-btn.brz-btn-submit {
            color: rgba(235, 235, 235, 1);
            background-color: rgba(69, 76, 75, 1);
        }

    .brz .brz-css-edaqo .brz-btn--story-container {
        border: 2px solid rgba(69, 76, 75, 1);
        border-radius: 8px;
    }

    @@media(min-width:991px) {
        .brz .brz-css-edaqo.brz-btn:hover {
            color: rgba(221, 253, 12, 1);
            border: 2px solid rgba(5, 202, 182, 0.8);
        }

        .brz .brz-css-edaqo.brz-btn.brz-btn-submit:hover {
            color: rgba(221, 253, 12, 1);
        }

        .brz .brz-css-edaqo:hover .brz-btn--story-container {
            border: 2px solid rgba(5, 202, 182, 0.8);
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-edaqo.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
            background-color: rgba(69, 76, 75, 1);
        }

            .brz .brz-css-edaqo.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(69, 76, 75, 1);
            }

        .brz .brz-css-edaqo .brz-btn--story-container {
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-edaqo.brz-btn {
            color: rgba(235, 235, 235, 1);
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
            background-color: rgba(69, 76, 75, 1);
        }

            .brz .brz-css-edaqo.brz-btn.brz-btn-submit {
                color: rgba(235, 235, 235, 1);
                background-color: rgba(69, 76, 75, 1);
            }

        .brz .brz-css-edaqo .brz-btn--story-container {
            border: 2px solid rgba(69, 76, 75, 1);
            border-radius: 8px;
        }
    }

    .brz .brz-css-mqmcd {
        padding: 100px 0px 100px 0px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-mqmcd {
            padding: 50px 15px 50px 15px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-mqmcd {
            padding: 25px 15px 25px 15px;
        }
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-vjrzs > .brz-row {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-vjrzs > .brz-row {
            flex-direction: row-reverse;
            flex-wrap: wrap-reverse;
            justify-content: flex-end;
        }
    }

    .brz .brz-css-eaddj {
        flex: 1 1 100%;
        max-width: 100%;
        justify-content: center;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-eaddj {
            flex: 1 1 100%;
            max-width: 100%;
            justify-content: center;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-eaddj {
            flex: 1 1 100%;
            max-width: 100%;
            justify-content: center;
        }
    }

    .brz .brz-css-anyon {
        padding: 5px 15px 5px 15px;
    }

    @@media(max-width:991px) and (min-width:768px) {
        .brz .brz-css-anyon {
            padding: 5px 0px 5px 0px;
        }
    }

    @@media(max-width:767px) {
        .brz .brz-css-anyon {
            padding: 0;
        }
    }
</style>
<style class="brz-style brz-project__style-palette">
    .brz .brz-cp-color1, .brz .brz-bcp-color1 {
        color: #A170D9;
    }

    .brz .brz-cp-color2, .brz .brz-bcp-color2 {
        color: #1C1C1C;
    }

    .brz .brz-cp-color3, .brz .brz-bcp-color3 {
        color: #05CAB6;
    }

    .brz .brz-cp-color4, .brz .brz-bcp-color4 {
        color: #B8E6E1;
    }

    .brz .brz-cp-color5, .brz .brz-bcp-color5 {
        color: #F5D4D1;
    }

    .brz .brz-cp-color6, .brz .brz-bcp-color6 {
        color: #EBEBEB;
    }

    .brz .brz-cp-color7, .brz .brz-bcp-color7 {
        color: #666666;
    }

    .brz .brz-cp-color8, .brz .brz-bcp-color8 {
        color: #ddfd0c;
    }
</style>
<style class="brz-style brz-project__style-fonts"></style><!-- END ASSETS -->
<style type="text/css">
    @@font-face {
        font-weight: 400;
        font-style: normal;
        font-family: 'Circular-Loom';
        src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
    }

    @@font-face {
        font-weight: 500;
        font-style: normal;
        font-family: 'Circular-Loom';
        src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
    }

    @@font-face {
        font-weight: 700;
        font-style: normal;
        font-family: 'Circular-Loom';
        src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
    }

    @@font-face {
        font-weight: 900;
        font-style: normal;
        font-family: 'Circular-Loom';
        src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
    }
</style>

@*<link href="~/ProductSildbar/theme.css" rel="stylesheet" />*@

<style>
    .card-body .btn {
        min-width: 45%;
    }

    .card-body .row .col-md-4 {
        text-align: -webkit-center;
    }

    .carousel .carousel-item {
        height: 523px;
    }

    .carousel-item img {
        position: relative;
        object-fit: cover;
        top: -47px;
        left: 50px;
        min-height: 423px;
    }

    .collapse .navbar-nav .nav-item {
        margin: 0 20px;
    }

    .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
    }

    .navbar-nav li:hover > ul.dropdown-menu {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
        }

    /* rotate caret on hover */
    .dropdown-menu > li > a:hover:after {
        text-decoration: underline;
        transform: rotate(-90deg);
    }

    p, ul, li, div, nav {
        padding: 0;
        margin: 0;
    }


    body {
        font-family: Calibri;
    }


    #menu {
        /* overflow: auto;*/
        position: relative;
        z-index: 2;
    }


    .parent-menu {
        background-color: white;
        min-width: 200px;
        float: left;
        height: 523px;
    }


    #menu ul {
        list-style-type: none;
    }


        #menu ul li a {
            padding: 10px 15px;
            display: block;
            color: black;
            text-decoration: none;
        }

            #menu ul li a span {
                float: right;
            }


            #menu ul li a:hover {
                background-color: #A15300;
                color: white;
            }

        #menu ul li:hover > ul {
            background-color: white;
            left: 200px;
            -webkit-transition: right 200ms;
            -moz-transition: right 200ms;
            -ms-transition: right 200ms;
            transition: right 200ms;
        }


        #menu ul li > ul {
            position: absolute;
            background-color: white;
            top: 0;
            min-width: 200px;
            z-index: -1;
            height: 100%;
            -webkit-transition: right 200ms;
            -moz-transition: right 200ms;
            -ms-transition: right 200ms;
            transition: right 200ms;
            height: 523px;
        }


            #menu ul li > ul li {
                background-color: white;
                color: black;
            }
</style>


<style>
    @@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

    body {
        /*background-color: #d6d2d2;
                        font-family: "Poppins", sans-serif;
                        font-weight: 300*/
    }

    .card {
        border: none;
        border-radius: 10px
    }

    .btn-custom {
        background-color: #64b3f4;
    }

    .text-custom {
        color: #64b3f4;
    }

    .percent {
        padding: 5px;
        background-color: #64b3f4;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        height: 35px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer
    }

    .wishlist {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #eee;
        padding: 10px;
        cursor: pointer
    }

    .img-container {
        position: relative;
        width: 259px;
        height: 209px;
        padding-left: 20px;
    }


        .img-container .first {
            position: absolute;
            width: 100%
        }

        .img-container img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px
        }

    .product-detail-container {
        padding: 10px
    }

    .ratings i {
        color: #a9a6a6
    }

    .ratings span {
        color: #a9a6a6
    }

    label.radio {
        cursor: pointer
    }

        label.radio input {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            pointer-events: none
        }

        label.radio span {
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #64b3f4;
            color: #64b3f4;
            font-size: 10px;
            border-radius: 50%;
            text-transform: uppercase
        }

        label.radio input:checked + span {
            border-color: #64b3f4;
            background-color: #64b3f4;
            color: #fff
        }
</style>
<!--pagination-->
<style>
    .simple-pagination ul {
        padding: 0;
        list-style: none;
        text-align: center;
        margin-left: 10px;
    }

    .simple-pagination li {
        display: inline-block;
        margin: 2px;
    }

        .simple-pagination li a,
        .simple-pagination li span {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 21px;
            background-color: #fff;
            text-align: center;
            text-decoration: none;
            color: #252525;
            border-radius: 4px;
            margin: 5px;
            box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
            transition: all 1s ease;
        }

            .simple-pagination li a:hover {
                background: #64B3F4;
                color: #fff;
            }

    .simple-pagination .current {
        color: #fff;
        line-height: 40px;
        background-color: #64B3F4;
        border-color: rgb(255,255,255);
        border: 1px solid;
        cursor: pointer;
    }

    .simple-pagination .prev.current,
    .simple-pagination .next.current {
        background: #64B3F4;
        border: none;
    }
</style>

<script src="~/js/jquery-2.2.3.min.js"></script>
<script src="https://b-cloud.b-cdn.net/builds/free/213-cloud/editor/js/group-3.js" class="brz-script brz-script-preview-lib" data-group="group-3"></script>
<script src="https://b-cloud.b-cdn.net/builds/free/213-cloud/editor/js/preview.js" class="brz-script brz-script-preview"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>
@*<script>
        $(document).ready(function () {
            $.get("@@Url.Action("FetchCategories","Home")", function (data, status) {
                console.log(data);
            });

        });

    </script>*@
@*@using (Html.BeginForm(FormMethod.Post, (new { enctype = "multipart/form-data" })))
    {*@
<form class="nav-search form-inline my-0 form-control" action="#" method="post">
    <div class="container">
        Search<input type="text" class="txtSearch" id="demo" />
    </div>
</form>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="brz" data-new-gr-c-s-check-loaded="14.1043.0" data-gr-ext-installed="" style="width: 103%; height: 60em; " cz-shortcut-listen="true">

                <div class="brz-root__container brz-reset-all">
                    <section data-uid="qlzifabtvexgijrydhjebsrfazqmtfhjhgzv" id="qlzifabtvexgijrydhjebsrfazqmtfhjhgzv" class="brz-section brz-css-knpig">
                        <div class="brz-section__content brz-section--boxed brz-css-tqlbw brz-css-khqgq" data-custom-id="sofnzocqocytrernkjrgzsixndrpjrsivned">
                            <div class="brz-container brz-css-qajun">
                                <div class="brz-row__container brz-css-arhop" data-custom-id="oimtiwacysqhbggxwxcokjfmfrrhdqjkwone">
                                    <div class="brz-row brz-css-kiray">
                                        <div class="brz-columns brz-css-rpoqf brz-css-dpary" data-custom-id="uqfqqodocppgcsympvwiggcuhyvjgfrfodxp">
                                            <div class="brz-column__items brz-css-inaks brz-css-wzzjr">
                                                <div class="brz-css-dqfym brz-wrapper">
                                                    <div class="brz-image brz-css-nvoty">
                                                        <img class="d-block w-100" src="~/images/ABC-Logo.jpg" alt="First slide">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="brz-columns brz-css-rpoqf brz-css-jgvep" data-custom-id="rdqphjjgjqxrjayliqzkdvkniglwfwcaxarg">
                                            <div class="brz-bg">
                                                <div class="brz-bg-color"></div>
                                            </div>
                                            <div class="brz-column__items brz-css-inaks brz-css-qkqxi">
                                                <div class="brz-row__container brz-css-arhop brz-css-ucvlb" data-custom-id="buqtavumuldrnegzhqynkgjdxdokemgleliv">
                                                    <div class="brz-bg">
                                                        <div class="brz-bg-color"></div>
                                                    </div>
                                                    <div class="brz-row brz-row--inner brz-css-kiray brz-css-hooon">
                                                        <div class="brz-columns brz-css-rpoqf brz-css-bywbk" data-custom-id="gfurjmytcrgfgtachsbqvcbqvczjcfopiuxe">
                                                            <div class="brz-bg">
                                                                <div class="brz-bg-color"></div>
                                                            </div>
                                                            <div class="brz-column__items brz-css-inaks">


                                                                <div data-iteration-count="1" class="brz-css-dqfym brz-css-ugrxs brz-wrapper brz-animated brz-css-mmhre brz-css-kygry brz-initialized brz-animate-opacity" data-iteration-completed="2">
                                                                    <div class="brz-rich-text brz-css-odfbz" data-custom-id="rztqykcyocaceaumyodtlevyjomiktcdovvx">
                                                                        <div>
                                                                            <p class="brz-css-xrhhu" data-generated-css="brz-css-fdfgo" data-uniq-id="absuv"><strong class="brz-capitalize-on brz-cp-color6">Welcome To ABC Discount's</strong></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="brz-css-dqfym brz-css-jlfjq brz-wrapper">
                                                                    <div class="brz-rich-text brz-css-odfbz" data-custom-id="mxwbwftluomfglxymuyvurmkovsustzwdznz">
                                                                        <div>
                                                                            <p class="brz-css-cqrkn" data-uniq-id="rcssw" data-generated-css="brz-css-hskpq"><span class="brz-cp-color6">USA's biggest online store for Tobbaco, Cigeretes (clothes/shoes), Electronics, Home Appliances, Books, Home & Furniture and more! &amp; Find the largest selection from all brands at the lowest prices in USA.</span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="brz-wrapper-clone brz-css-fzjuj brz-css-sfrwu">
                                                    <div class="brz-d-xs-flex brz-flex-xs-wrap brz-css-aofej brz-css-bxflu">
                                                        <div class="brz-wrapper-clone__item brz-css-rdtcv brz-css-igdof">
                                                            @*<a class="btn btn-primary" id="Login" href="@Url.Action("Login","Account",new {@area="Security" })">Login</a>*@
                                                            <a href="~/Account/Login/Security" class="button brz-a brz-btn brz-css-cghik brz-css-aamdo">Login</a>
                                                        </div>
                                                        <div class="brz-wrapper-clone__item brz-css-rdtcv brz-css-igdof">
                                                            <a href="~/Register/Account/Security" class="button brz-a brz-btn brz-css-cghik brz-css-aamdo">Register</a>
                                                        </div>
                                                        <div class="brz-wrapper-clone__item brz-css-rdtcv brz-css-igdof">
                                                            <a href="#" class="button brz-a brz-btn brz-css-cghik brz-css-aamdo">All Products</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section data-uid="jolletcnyxchzvedqycxilmeykcqgccyecnn" id="jolletcnyxchzvedqycxilmeykcqgccyecnn" class="brz-section brz-css-knpig">
                        <div class="brz-section__content brz-section--boxed brz-css-tqlbw brz-css-mqmcd" data-custom-id="udszywekfcdjtvekdzodqsbnqbtscutngtzu">
                            <div class="brz-container brz-css-qajun">
                                <div class="brz-row__container brz-css-arhop brz-css-vjrzs" data-custom-id="jnsprvdonvkxevgunccyorpaspeijjhqgtod">
                                    <div class="brz-row brz-css-kiray brz-css-zjyrs">
                                        <div class="brz-columns brz-css-rpoqf brz-css-eaddj" data-custom-id="rfvjtqaqnezhvoubehmfjzlohdlonzmglbal">
                                            <div class="brz-column__items brz-css-inaks brz-css-anyon">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- ASSETS -->
                <script src="https://b-cloud.b-cdn.net/builds/free/213-cloud/editor/js/group-3.js" class="brz-script brz-script-preview-lib" data-group="group-3"></script>
                <script src="https://b-cloud.b-cdn.net/builds/free/213-cloud/editor/js/preview.js" class="brz-script brz-script-preview"></script>
                <script class="brz-script brz-script-emit">document.addEventListener('DOMContentLoaded', () => window.Brz.emit("init.dom", jQuery(document.body)));</script><!-- END ASSETS -->
            </div>
            @*<img class="d-block w-100" src="~/images/ABC-Logo.jpg" alt="First slide">*@


        </div>
        <div class="col-md-2  ml-5" style=" margin-top: -31.4em; ">
            <nav id="menu">
                <ul class="parent-menu overflow-auto sidebarmenu">

                    @foreach (var item in ViewBag.ItemCategory)
                    {
                        <li>
                            
                               @*<li><a href="#" id="text" onclick="abc(@item.itemCategoryID)" class="tbl">@item.Name</a></li>*@
                                
                            

                               <a href="#">@item.Name<span class="fas fa-chevron-right"></span></a>


                            @*<img src="/images/india-ranked-5th-in-pictorial-warnings-on-cigarette-packets.jpg" />*@
                            @foreach (var subitem in ViewBag.ItemsubCategory)
                            {

                                if (subitem != null)
                                {
                                    @if (item.Id == subitem.CategoryId)
                                    {

                                    <ul>
                                        <li><a href="#" id="text" onclick="abc(@subitem.CategoryId)" class="tbl">@subitem.SubCategory</a></li>
                                    </ul>

                                    }
                                }
                            }
                        </li>

                    }
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="container-fluid mt-3 mb-3 list-wrapper">
        <div class="row g-2 ProductData">

            @{
                var i = 0;
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        i = i + 1;

                        <div class="col-md-4">
                            <div class="card">
                                <div class="img-container">
                                    @if (item.ItemImageByPath != null && item.ItemImageByPath != "")
                                    {
                                        @*<img src="@item.ItemImageByPath" class="img-fluid" alt="">*@
                                        <div class="d-flex justify-content-between align-items-center p-2 first">  </div> <img src="@item.ItemImageByPath" class="img-fluid" alt="">
                                    }
                                    else
                                    {
                                        @*<img src="~/images/india-ranked-5th-in-pictorial-warnings-on-cigarette-packets.jpg" class="img-fluid" alt="">*@
                                        <div class="d-flex justify-content-between align-items-center p-2 first">  </div> <img src="~/images/india-ranked-5th-in-pictorial-warnings-on-cigarette-packets.jpg" class="img-fluid" alt="">
                                    }
                                </div>
                                <div class="product-detail-container">
                                    @*  <div class="d-flex justify-content-between align-items-center">
                        <h5 class="py-2 text-center">@item.Name</h5> <span class="text-custom font-weight-bold">$3.99</span>
                        </div>
                        *@
                                    @*  <div class="d-flex justify-content-between align-items-center mt-2">
                        <div class="ratings"> <i class="fa fa-star"></i> <span>4.5</span> </div>
                        <div class="size"> <label class="radio"> <input type="radio" name="size1" value="small"> <span>S</span> </label> <label class="radio"> <input type="radio" name="size1" value="Medium" checked> <span>M</span> </label> <label class="radio"> <input type="radio" name="size1" value="Large"> <span>L</span> </label> </div>
                        </div>*@

                                    <div class="mt-3">
                                        <button class="btn btn-custom btn-block">
                                            <a href="@Url.Action("ProductDetail", "Home", new {@area = "Home", id = item.Id })" class="text-white">@item.Name</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
    </div>
</div>
<div id="pagination-container"></div>
<script>
    var items = $('.ProductData .card');
    var numItems = items.length;
    var perPage = 4;
    items.slice(perPage).hide();
    debugger;
    $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "<",
        nextText: ">",
        onPageClick: function(pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });
</script>

<script type="text/javascript">
    $(function() {
        debugger;
        $.ajax({
            type: "Get",
            surl: '@Url.Action("GetEmployerJson", "Home",new{@area="Home"})',
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        });
    });

    $(document).ready(function() {
        $('.txtSearch').keyup(function() {
            var searchText = $(this).val().toLowerCase();
            $('.sidebarmenu li a').each(function() {
                var currentLiText = $(this).text().toLowerCase(),
                    showCurrentLi = currentLiText.indexOf(searchText) !== -1;
                $(this).toggle(showCurrentLi);
            });
        });
    })

</script>
<script>
    function abc(id) {
        debugger;
        $.ajax({
            type: "Get",
            url: '@Url.Action("GetEmployerJson", "Home")',
            data: { id: id },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data) {
                debugger;
                $('.ProductData').empty();
                console.log(data);
                var html = '';
                var data1 = $.parseJSON(data.resp);
                $.each(data1.data, function(key, item) {
                    html += '<div class="col-md-4">';
                    html += '<div class="card carddata">';
                    html += '<div class="img-container">';
                    if (item.itemImageByPath != null && item.itemImageByPath != "") {
                        html += '<div class="d-flex justify-content-between align-items-center p-2 first" ><img src' + item.itemImageByPath + 'class="img-fluid" alt=""></div>';

                    } else {
                        html += '<div class="d-flex justify-content-between align-items-center p-2 first" ><img src="/images/india-ranked-5th-in-pictorial-warnings-on-cigarette-packets.jpg" class="img-fluid" alt=""></div>';
                    }
                    html += '</div>';
                    html += '<div class="product-detail-container">';
                    html += '<div class="product-detail-container">';
                    /*  html += '<h5 class="py-2 text-center pname">' + item.name + '</h5>';*/
                    html += '</div>';
                    html += '<div class="product-detail-container">';
                    html += '<div class="mt-3">';
                    html += '<a href="@Url.Action("Home","ProductDetail")/' + item.id + '" class="btn btn-custom btn-block text-white">' + item.categoryName + '</a>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                });
                $('.ProductData').append(html);

            }
        });
    };
</script>