@model ABC.EFCore.Repository.Edmx.LoginValidate
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

@if (TempData["response"] != null)
{
    <script>
    $(document).ready(function () {
        var success = '@((TempData["response"] != null).ToString())';
        if (success == 'false' || success == false) {
        } else {
            toastr.error('@TempData["response"].ToString()')
        }
    });
    </script>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
<div class="container">
    <div class="py-3 text-center text-primary">
        <h1>Login</h1>
    </div>
    
    <div class="card offset-2 col-lg-8 bg-light">
        <div class="card-body">
            @*@if (TempData["Msg"] != null)
            {
                <div class="alert alert-primary" style="max-width: 46%;" id="msgalert">
                    @TempData["Msg"].ToString()
                </div>
            }*@
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-6 mx-md-auto">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-6 mx-md-auto">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "textEmail" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 mx-md-auto">
                        @Html.DisplayName("Password")
                    </div>
                    <div class="col-md-6 mx-md-auto">
                        @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-control", id = "textPassword" })
                        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="offset-2 col-md-4 text-center">
                            <input type="submit" value="Login" class="btn btn-primary" id="Login" />
                        </div>
                        <div class="col-md-4 text-center">
                          <a class="btn btn-primary" id="Forget" href="@Url.Action("ForgetPassword","Account",new {@area="Security" })">Forget</a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="offset-2 col-8 text-center">
                        <a href="@Url.Action("Register","Account",new {@area="Security" })" class="btn btn-success" id="NewAccount">Create New Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
}

@*<script>
        function hello() {
            var textemail = document.getElementById("textEmail").value;
            var textPassword = document.getElementById("textPassword").value;
            if (textemail == '') {
                alert('Please enter your Email');
            }
            else if (textPassword =='') {
                alert('Please enter your password');
            }
        }
    </script>*@

<script>
    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
</script>